name: msbuild

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake 
        run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release

      - name: MSBuild
        run: cmake --build build --config Release

      - name: Upload EXE artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyApp-exe
          path: build/**/*.exe
